.program {
    position: relative;
    width: 200px;/* Controla el tamaño de cada caja */
    overflow: hidden;
}
.program img {
    width: 100%;
    height: auto;
    filter: grayscale(100%) sepia(100%) hue-rotate(-50deg) saturate(300%);
    transition: filter 0.3s ease-in-out;
}

.program:hover img {
    filter: none;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}


@media (max-width: 768px) {
    .program img {
        display: none;
    }

    .tabs {
        display: flex;
        overflow-x: auto;
        /* Permite desplazamiento horizontal si es necesario */
        white-space: nowrap;
        /* Evita que los elementos se vayan a la siguiente línea */
        scrollbar-width: none;
        /* Oculta la barra de desplazamiento en Firefox */
        -ms-overflow-style: none;
        /* Oculta la barra de desplazamiento en Internet Explorer */
    }

    .tabs::-webkit-scrollbar {
        display: none;
        /* Oculta la barra de desplazamiento en Chrome y Edge */
    }

}