.menu-circular {
    position: fixed;
    right: 10px;
    top: 40%;
    display: flex;
    align-items: center;
    z-index: 1000;
}

.menu-btn {
    background: #3e06065b;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.menu-btn:hover {
    transform: scale(1.2); /* Efecto de agrandamiento */
}

.central {
    width: 70px;
    height: 70px;
    background: #590707; /* Botón central */
    color: white;
}

.facebook {
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #3b5998;
}

.youtube {
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    background: #ff0000;
}
.X {
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000;
}
.instagram {
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc188e);
    background-size: 200% 200%;
    animation: instagramGlow 4s ease infinite;
}

@keyframes instagramGlow {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
