html, body {
    height: 100%;
}

main {
    flex: 1; /* Esto empuja el footer hacia abajo */
}

.footer {
    background-image: url('/imagenes/FotoPortadaWebABAJO.png');
    background-size: cover; /* Asegura que el fondo cubra toda el área */
    color: white;
    padding: 40px 20px;
    text-align: center;
    margin-top: 100px !important;
    width: 100%;
    z-index: -1;
}

.footer-container {
    display: flex !important;
    max-width: 1200px !important;
    margin: auto !important;
}


.footer-logo img {
    width: 120px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    text-align: left;
    margin: 0 10px;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

/* secciones de los textos*/
li a {
    text-decoration: none; 
    color: white;
}
li :hover {
    color: #ddcba4; 
    text-decoration: none; 
}
li {
    cursor: pointer; 
    color: white;
}

li:hover {
    color: #ddcba4; 
}

