/* Carrusel */
.container-carrusel {
    display: flex;
    justify-content: center;
    margin-top:0;
    width: 100%;
    max-width: 100%;
    padding: 0; 
    box-sizing: border-box; 
}
.carrusel {
    position: relative;
    width: 100%; /* Ocupa todo el ancho del contenedor */
    max-width: 100%; /* Elimina restricciones */
    height: 70vh;
    overflow: hidden;
}
.imagenes {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.imagenes img {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Evitar conflictos con otros botones */
.container-carrusel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(221, 113, 12, 0.8);
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-radius: 50%; /* Hace que el botón sea completamente redondo */
    width: 40px; /* Ajusta el tamaño para mantener la forma */
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

@media (max-width: 768px) {
    .container-carrusel {
        flex-direction: column; 
        align-items: center;
    }
    .carrusel {
        position: absolute;

    }
    .container-carrusel button {
        position: absolute; 
        margin-top: -250px;
        width: 30px;
        height: 30px;
        font-size: 14px;
    }

}
