.no-background .background-box {
    display: none !important;
}
/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #f8f8f8;
}

.convenios-container1 {
  padding: 40px 20px;
}

.convenios-container1 h1 {
  text-align: center;
  color: #444;
  margin-bottom: 30px;
}

/* Grid de tarjetas */
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Estilo de tarjetas */
.convenio {
    position: relative;
    width: 200px;
    overflow: hidden;
}

.convenio img{
    width: 100%;
    height: auto;
    display: block;
    transition: opacity 0.3s ease-in-out;
}

.img-default{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
}

.img-hover {
  z-index: 2;
}

.card h3 {
  margin: 0;
  font-size: 16px;
  color: #333;
}

/* Efecto al pasar el cursor */
.convenio:hover .img-default {
    opacity: 1;
}

.card p {
  font-size: 13px;
  color: #666;
  margin-top: 6px;
}

/* Centrar la novena tarjeta */
.grid-container > .card:nth-child(9) {
  grid-column: 2 / span 2;
  justify-self: center;
}

/* Responsive: tablet */
@media (max-width: 1024px) {
    .convenios-container1 h2 {
        font-size: 45px; /* Reduce tamaño en pantallas medianas */
    }

    .convenio {
        width: 180px; /* Ajuste del tamaño de cada programa */
    }
}

/* Responsive: móvil */
@media (max-width: 600px) {
    .convenios-container1 h2 {
        font-size: 45px; /* Reduce tamaño en pantallas medianas */
    }

    .convenio {
        width: 180px; /* Ajuste del tamaño de cada programa */
    }
}